{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{form.as_p}}
        {{form.name.errors}}
        <br>
        <input type="submit" value="SUBMIT" >
    </form>

    {% endblock content %}
    
</body>
</html>