{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <div class="jumbotron jumbotron-fluid jumbo-color">
        <div class="container">
            <h1 class="font-weight-bold">This is Blog Title </h1>
            <p class="lead">Get the best Results for Learning Management System Uk
                . Find what you are looking for! 99% Match on Learning Management System Uk.
                 Find Here - Free, Private and Secure. Unlimited Access. Privacy Friendly.
                 Results & Answers. The Best Resources. Always Facts.</p>
        </div>
    </div>


</div>
{% endblock content %}