<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h4>Mothers data</h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
        {% for data in data %}
        <tr>
            <td>{{data.name}}</td>
            <td>{{data.age}}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Daughter data</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
        {% for data2 in data2 %}
        <tr>
            <td>{{data2.name}}</td>
            <td>{{data2.age}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>