<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 50px;
        }
        a{
            padding: 10px;
            margin: 30px;
            background-color: red;
            color: white;

        }
    </style>
</head>
<body>
    <a href="{% url 'user' %}">User</a>
    <a href="{% url 'page' %}">Page</a>
    <a href="{% url 'post' %}">Post</a>
    <a href="{% url 'song' %}">Song</a>
</body>
</html>