<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th,tr,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    
    <table>
        <h3>Song all data</h3>
        <th>Song name</th>
        <th>song Duration</th>
        {% for dt in data1 %}
        <tr>
            <td>{{dt.song_name}}</td>
            <td>{{dt.song_duration}}</td> 
        </tr>

        {% endfor %}

    </table>
    <br>

    <table>
        <h3>Song filtered data</h3>
        <th>Song name</th>
        <th>song Duration</th>
        {% for dt in data2 %}
        <tr>
            <td>{{dt.song_name}}</td>
            <td>{{dt.song_duration}}</td> 
        </tr>

        {% endfor %}

    </table>

    <br>

    <table>
        <h3>Song data filtered by username</h3>
        <th>Song name</th>
        <th>song Duration</th>
        {% for dt in data3 %}
        <tr>
            <td>{{dt.song_name}}</td>
            <td>{{dt.song_duration}}</td> 
        </tr>

        {% endfor %}

    </table>
</body>
</html>