{% extends 'base.html' %}
{% load custom_price %}
{% block header %}
{% endblock header %}

{% block content %}


<!-- <div class="container pt-5">
    <div class="d-flex justify-content-center ">
        <div class=" row p-5 m-5">
            <div class="col-sm-12 d-flex flex-column shadow-lg border border-primary  p-5 ">
                <h3 class="align-self-center px-5 pt-5">The Product</h3>
                <p class="align-self-center px-5 pt-1">purchase this only for $99</p>
                <input  type="submit" value="BUY NOW"  class="btn btn-primary mb-5 mx-5 ">
            </div>
        </div>


    </div>

</div> -->



<div class="container pt-5">
    <div class="d-flex justify-content-center ">
        <div class=" row p-5 m-5">
            <div class="col-sm-12 d-flex flex-column shadow-lg border border-primary  p-5 ">
                {% for product in product %}
                <div class="my-2 shadow">
                    <form action="{% url 'charge' product.id %}" method="post">
                        {% csrf_token %}
                        <h2> buy for {{product.price}} doller</h2>
                        {% price product.price as price %}
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{key}}"
                        data-description="PAYMENT GATEWAY"
                        data-amount="{{price}}"
                        data-locale="auto"
                        >
                    </script>
                    </form>

                </div>
                {% endfor %}

            </div>
        </div>


    </div>

</div>



{% endblock content %}

{% block footer %}
{% endblock footer %}