{% extends "core/base.html" %}
{% load static %}

{% block content%}

<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">our project may not work properly until you apply the migrations for app(s)</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3>WEB DESIGN</h3>
            <p class="ss-color">our project may not work properly until you apply the migrations for app(s)</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h3>WEB DEVOLOPER</h3>
            <p class="ss-color">our project may not work properly until you apply the migrations for app(s)</p>
        </div>

        
    </div>


    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-android fa-2x mb-3 i-color"></i>
            <h3>ANDROID</h3>
            <p class="ss-color">our project may not work properly until you apply the migrations for app(s)</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-apple fa-2x mb-3 i-color"></i>
            <h3> IOS </h3>
            <p class="ss-color">our project may not work properly until you apply the migrations for app(s)</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h3>ADD</h3>
            <p class="ss-color">our project may not work properly until you apply the migrations for app(s)</p>
        </div>

        
    </div>



    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass fa-2x mb-3 i-color"></i>
            <h3>LOGO</h3>
            <p class="ss-color">our project may not work properly until you apply the migrations for app(s)</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3>HOSTING</h3>
            <p class="ss-color">our project may not work properly until you apply the migrations for app(s)</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h3>SUPPORT</h3>
            <p class="ss-color">our project may not work properly until you apply the migrations for app(s)</p>
        </div>

        
    </div>



    

</div>

{% endblock content%}