{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <h1>Hii </h1>
    {% if stu %}
    {% for st in stu %}
    <h3>ID: {{st.stuid}}</h3>
    <h3>Name: {{st.stuname}}</h3>
    <h3>Email: {{st.stumail}}</h3>
    {% endfor %}
    {% else %}
    <h3>NO DATA</h3>
    {% endif %}

    {% endblock %}
</body>
</html>