<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <h3>This page is about changing password with old password </h3>
    <!---{{form.as_p}}-->

    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% endif %}


        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors | striptags}} <br><br>
        {% endfor %}

        <input type="submit" value="SUBMIT">
    </form>
    <br>
    <a href="{% url 'profile' %}">profile</a>
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>