<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome: {{name}}</h1>


    {% if perms.UserAuthentication.delete_blog %}
    <input type="button" value="Delete"><br><br>
    {% else %}
    <h3>No Delete Permission</h3>
    {% endif %}


    {% if perms.UserAuthentication.add_blog %}
    <input type="button" value="EDIT"><br><br>
    {% else %}
    <h3>No ADD Permission</h3>
    {% endif %}

    {% if perms.UserAuthentication.change_blog %}
    <input type="button" value="Change"><br><br>
    {% else %}
    <h3>No Change Permission</h3>
    {% endif %}


    {% if perms.UserAuthentication.view_blog %}
    <input type="button" value="View"><br><br>
    {% else %}
    <h3>No View Permission</h3>
    {% endif %}

    <a href="{% url 'profile' %}">Profile</a>
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>